html
  head
    title Guestbook
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='scripts/actions.js')
  body
    h1 #{name}'s Contact Warehouse
    h4 #{message}

    include ./login.jade
